{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 item" style="background-image: url('{% static 'images/bg_1.jpg' %}');"
        data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h2 class="heading">Every student can learn, just not on the same day, or the same way.</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<br>

{% if chk == 3 or chk == 1 %}
{% if chk == 3 %}
<div class="container">
  <button class="btn btn-success" data-toggle="modal" data-target="#addcourse">Add Course</button>
</div>
{% elif chk == 1 %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" data-toggle="modal" data-target="#addcourse">Add Topic</button>
    </div>
    <div class="col-md-4">
      <form method="GET" action="{% url 'reord' %}">
        <button onclick="func()" class="btn btn-success">Re-Order</button>
        <input type="text" hidden=true name="setvalue" id="setvalue" value="initial value" />
      </form>
    </div>
  </div>
</div>
{% endif %}
<br>
{% endif %}

<div class="container">
{% if chk == 2 %}
<!-- this is for the resources template -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success" data-toggle="modal" data-target="#addresource2">Add text/Questions</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-success" data-toggle="modal" data-target="#addresource">Add Video/Pictures</button>
    </div>
  </div>
</div>
{% for k in keys.all %}

<div class="alert alert-success">
{{ k.data }}
</div>

{% endfor %}


{% else %}
<br>

<table id="sort" class="grid table table-striped table-dark table-hover" title="Kurt Vonnegut novels">
    <thead>
        <tr><th class="index text-center" scope="col">Updated Order ID</th><th>Current Order ID</th><th>Topic Title</th><th>Description</th></tr>
    </thead>
    <tbody>
{% for k in keys.all %}

        <tr>
          <td class="index" scope="row">
            {{k.oid}}
          </td>
          <td  class="ord">
            {{k.oid}}
          </td>
          <td>
            {{k.title}}
          </td>
          <td>
            <button class="btn btn-success" data-toggle="modal" data-target="#topicdesc">View</button>
          </td>
          <td>
            {% if chk == 1 %}
            <form method="GET" action="{% url 'res' %}">
              <input hidden=true type="number" name="foreignKey" value="{{ k.ids }}" >
              <input class="btn btn-primary" type="submit" name="goto" value="Know More">
            </form>
            {% else %}
            <form method="GET" action="{% url 'top' %}">
              <input hidden=true type="number" name="foreignKey" value="{{ k.ids }}" >
              <input class="btn btn-primary" type="submit" name="goto" value="Know More">
            </form>
            {% endif %}
          </td>
        </tr>


{% endfor %}

    </tbody>
</table>

{% endif %}



</div>

<div class="modal fade" id="addcourse" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if chk == 3 %}
        <h5 class="modal-title" id="SignUpModal">Add Course</h5>
        {% elif chk == 1 %}
        <h5 class="modal-title" id="SignUpModal">Add Topic</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'addc' %}" enctype="multipart/form-data">
          <!--  -->
          {% csrf_token %}


          <div class="form-group">
            {% if chk == 3 %}
            <label>Course Title</label>
            {% elif chk == 1 %}
            <label>Topic Title</label>
            {% endif %}
            <input type="text" name="ctitle" class="form-control" aria-describedby="emailHelp"
              placeholder="Enter a suitable course title">
          </div>
          <div class="form-group">
            {% if chk == 3 %}
            <label>Course Description</label>
            {% elif chk == 1 %}
            <label>Topic Description</label>
            {% endif %}
            <textarea rows="10" cols="6" name="cdesc" class="form-control" aria-describedby="emailHelp"
              placeholder="Enter Course Description"></textarea>
          </div>
          {% if chk == 1 %}
          <div class="form-group">
            <label>Order Number</label>
            <input type="number" name="orderid" class="form-control" aria-describedby="emailHelp"
              placeholder="Enter desired order number">
          </div>
          <input hidden=true name="getcid" value="{{courseID}}" />
          {% endif %}
          <input hidden="true" name="pickachu" value="{{chk}}" />
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="topicdesc" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Topic Description
      </div>
      <div class="modal-body">
        {{val}}
      </div>

    </div>
  </div>
</div>



<!-- modal for resources  -->
<div class="modal fade" id="addresource" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="SignUpModal">Add Resources</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'addR' %}" enctype="multipart/form-data">
          <!--  -->
          {% csrf_token %}


          <div class="form-group dropdown show">
            <label for=""> <strong>Select Resource type to add:</strong> </label>
            <select  name="rSelected" class ="btn btn-secondary dropdown-toggle">
              <option class="dropdown-item" value="P">Picture</option>
              <option class="dropdown-item" value="V">Videos</option>
            </select>
          </div>

          <div class="form-group">
              <label>Resources</label>
              <input type="file" name="myfile" class="form-control " id="imageUser" placeholder="Enter">
          </div>
          <div class="form-group">
            <label>Order Id</label>
            <input type="number" name="orderid" id="">
        </div>
          <input hidden="true" name="resId" value=1 />
          <input hidden='true' name="Fkey" value="{{ topicID }}" >
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  </div>




  <div class="modal fade" id="addresource2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <h5 class="modal-title" id="SignUpModal">Add Resources</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'addR' %}" enctype="multipart/form-data">
              <!--  -->
              {% csrf_token %}


              <div class="form-group dropdown show">
                <label for=""> <strong>Select Resource type to add:</strong> </label>
                <select  name="rSelected" class ="btn btn-secondary dropdown-toggle">
                  <option class="dropdown-item" value="Q">Questions</option>
                  <option class="dropdown-item" value="T">Texts</option>
                </select>
              </div>

              <div class="form-group">
                  <label>Resources</label>
                  <input type="text" name="title" id="" placeholder="enter question/title">
                  <textarea rows="10" cols="6" name="summary" class="form-control" aria-describedby="emailHelp"
                  placeholder="Enter Answer/decriptions"></textarea>

              </div>
              <div class="form-group">
                <label>Order Id</label>
                <input type="number" name="orderid" id="">
            </div>
              <input hidden="true" name="resId" value=0 />
              <input hidden='true' name="Fkey" value="{{ topicID }}" >
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>

        </div>
      </div>
      </div>


<!-- ended modal for resources -->


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
function func()
{
  var d = document.getElementsByClassName('ord');
  var name = '';
  for(var i=0;i<d.length;i++)
  {
    console.log(d[i].innerHTML);
    name += String(d[i].innerHTML).trim();
  }
  document.getElementById('setvalue').value = name;
}

var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.children().each(function(index) {
        $(this).width($originals.eq(index).width())
    });
    return $helper;
},
    updateIndex = function(e, ui) {
        $('td.index', ui.item.parent()).each(function (i) {
            $(this).html(i + 1);
        });
    };

$("#sort tbody").sortable({
    helper: fixHelperModified,
    stop: updateIndex
}).disableSelection();
</script>

{% endblock %}
