{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}


<div class="block-31" style="position: relative;">
  <div class="owl-carousel loop-block-31 ">
    <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/bg_3.jpg' %}')"
      data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="heading">WhizKids</h2>
            <p class="lead">You can teach a student a lesson for a day, but if you can teach him to learn by creating
              curiosity, he will continue the learning process as long as he lives.</p>
            {% if user.is_authenticated %}
            {% for key, value in d.items %}
            {% if value == 1 %}
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent; border:2px solid #ffffff">
              Subscribed
            </button>
            {% elif value == 0 %}
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent; border:2px solid #ffffff"
              data-toggle="modal" data-target="#subs">
              Subscribe
            </button>
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent;  border:2px solid #ffffff">
              <a href="">Trial Started</a>
            </button>
            {% else %}
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent; border:2px solid #ffffff"
              data-toggle="modal" data-target="#subs">
              Subscribe
            </button>
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent;  border:2px solid #ffffff"
              data-target="">
              <a href="{% url 'subs' %}">Try for free!</a>
            </button>
            {% endif %}
            {% endfor %}
            {% else %}
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent; border:2px solid #ffffff">
              Subscribtion Locked
            </button>
            <button type="button" class="btn btn-primary btn-lg" style="background:transparent;  border:2px solid #ffffff"
              data-target="">
              <a href=''>Trial Locked</a>
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- loop through the course -->

<div class="site-section" id="backImage" style="background-image: url('{% static 'images/brain.jpg' %}')"
data-stellar-background-ratio="1" >
  <div class="container cards" >


    <!-- <div class="row">
        {% for k in keys.all %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="post-entry mb-5">
          <a href="blog-single.html" class="mb-3 img-wrap">
            <img src="{% static 'images/img_4.jpg' %}" alt="Image placeholder" class="img-fluid">
            <span class="date">July 26, 2018</span>
          </a>
          <h3><a href="">{{k.title}}</a></h3>
          <p>{{ k.desc }}</p>
          {% if xyz == 1 %}
          <form method="GET" action="{% url 'topic' %}">
            <input hidden=true type="number" name="foreignKey" value="{{ k.ids }}" >
            <input class="btn btn-primary" type="submit" name="goto" value="Know More">
          </form>
          {% else %}
          <form method="GET" action="{% url 'resource' %}">
            <input hidden=true type="number" name="foreignKey" value="{{ k.ids }}" >
            <input class="btn btn-primary" type="submit" name="goto" value="Know More">
          </form>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div> -->

    <section class="strips">
        <article onclick="topFunction()" class="strips__strip">
          <div class="strip__content" id="leftOne">
            <h1 class="strip__title" data-name="Lorem"></h1>
            <div class="strip__inner-text">
              <h2>The Left One</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
              <p>
                <a class="btn btn-primary" href="{% url 'learn' %}">Know More</a>
              </p>
            </div>
            
          </div>
        </article>
        <article onclick="topFunction()" class="strips__strip">
          <div class="strip__content" id="rightOne" >
            <h1 class="strip__title" data-name="Ipsum"></h1>
            <div class="strip__inner-text">
              <h2>NO Ettrics</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
              <p>
                <a class="btn btn-primary" href="{% url 'learn' %}">Know More</a>
              </p>
            </div>
          </div>
        </article>
        
      
        <i class="fa fa-close strip__close"></i>
      </section>

    {% if user.is_authenticated %}
    {% for key, value in chk.items %}
    {% if value == 1 %}
    <button type="button" class="btn btn-primary">
      FeedBack Given
    </button>
    {% elif value == 0 %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comments">
      FeedBack
    </button>
    {% else %}
    <button type="button" class="btn btn-primary">
      Subscibe now to give FeedBack
    </button>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="comments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">How was your experience of the course?</h5>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'feed' %}">

          <div class="form-group">
            <textarea type="text" name="fb" class="form-control" id="content" aria-describedby="emailHelp" placeholder=""></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- subscribe modal -->

<div class="modal fade" id="subs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Get set for the course!</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'subs' %}">

          <div class="form-group">
            {% csrf_token %}
            <input type="text" name="tkn" id="tkn" placeholder="Coupon! paste it here.">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Pay">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- subscribe modal ends -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

<script>
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

</script>

{% if Response %}
<script type="text/javascript">
  $(document).ready(function () {
    alert('{{ Response }}');
  });
</script>
{% endif %}
{% if subs %}
<script type="text/javascript">
  $(document).ready(function () {
    alert('{{ subs }}');
  });
</script>
{% endif %}

{% endblock %}